@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button id="testImport">Test Import</button>
<span id="testImportResult" class="card-title"></span>
<br />
<input id="testReplaceText">
<button id="testReplace">Test Replace</button>
<span id="testReplaceResult" class="card-title"></span>
<br />

<span>ID</span>
<input id="testUpdateDoc">
<span>Field</span>
<input id="testUpdateField">
<span>Value</span>
<input id="testUpdateText">
<button id="testUpdate">Test Update</button>
<span id="testUpdateResult" class="card-title"></span>

<br />

<span>ID</span>
<input id="testAddFieldDoc">
<span>Field</span>
<input id="testAddFieldName">
<span>Value</span>
<input id="testAddFieldText">
<button id="testAddFieldValue">Test Add Field</button>
<span id="testAddFieldResult" class="card-title"></span>

<br />
<span>ID</span>
<input id="testRemoveFieldDoc">
<span>Field</span>
<input id="testRemoveFieldName">

<button id="testRemoveField">Test Remove Field</button>
<span id="testRemoveFieldResult" class="card-title"></span>

<br />
<span>ID</span>
<input id="testDeleteDoc">


<button id="testDelete">Test Delete Doc</button>
<span id="testRemoveDocResult" class="card-title"></span>